export CONTAINERIZERS="{{mesos_containerizers}}"
export DOCKER_MESOS_IMAGE="{{mesos_agent_docker_image}}"
export DOCKER_STOP_TIMEOUT="{{mesos_docker_stop_timeout}}"
export EXECUTOR_REGISTRATION_TIMEOUT="{{mesos_executor_registration_timeout}}"
export HOSTNAME="{{inventory_hostname}}"
export IP="{{host_ip}}"
export ISOLATION="{{mesos_isolation}}"
export LOGGING_LEVEL="{{mesos_logging_level}}"
export LOG_DIR="{{mesos_log_dir}}"
export MASTER="{{mesos_zk}}"
